@use 'breakpoints';
@import 'color';

.container {
  margin: 100px -60px 0;
  box-sizing: border-box;

  @media screen and (max-width: breakpoints.$breakpoint-xl) {
    margin: 100px -42px 0;
  }

  .carouselWrapper {
    position: relative;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
      width: 44px;
      height: 44px;
      padding: 5px;
      border-radius: 50%;
      background: $color-white;
      top: 50%;
      z-index: 5;
      border: none;
      position: absolute;
      cursor: pointer;
      margin-top: -12px;

      &:hover,
      &:focus {
        color: var(--color-bus);
      }

      &:focus {
        outline-color: var(--color-black-90);
      }

      &.btnPrev {
        margin-left: 32px;
        transition: 100ms;
        &:hover {
          transition: 100ms;
          margin-left: 28px;
        }
      }

      &.btnNext {
        right: 0;
        margin-right: 32px;
        transition: 100ms;
        &:hover {
          transition: 100ms;
          margin-right: 28px;
        }
      }
    }

    .root {
      outline: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      .slider {
        position: relative;
        width: 100%;
        overflow: visible;
        padding: 0 48px;
        box-sizing: border-box;

        &.noDots {
          margin-bottom: 32px;
        }

        .sliderWrapper {
          overflow: visible;
          margin: auto;
          width: 100%;
          transition: height 0.15s ease-in;
          box-sizing: border-box;

          //ul
          .sliderAnimated {
            display: flex;
            margin: 0;
            padding: 0;
            position: relative;
            list-style: none;
            width: 100%;
            background: transparent;
            height: auto;
            box-sizing: border-box;
            transition-duration: 250ms;

            //li
            .slide {
              flex-flow: column;
              transition: opacity 0.25s ease-in, padding 0.25s ease-in;
              min-width: 100%;
              margin: 0;
              position: relative;
              background: transparent;
              box-sizing: border-box;
              opacity: 0.5;

              .slideItems {
                display: flex;
                height: 100%;
                box-sizing: border-box;

                .slideItem {
                  padding: 0 12px;
                  position: relative;
                  box-sizing: border-box;
                }
              }
            }

            .slideSelected {
              opacity: 1;
            }
          }
        }
      }
      .dotsContainer {
        display: flex;
        justify-content: center;
        margin: 32px 0 0;
        .dot {
          border: 2px solid var(--color-black-40);
          border-radius: 50%;
          width: 12px;
          height: 12px;
          margin: 0 2px;

          &.selected {
            background-color: var(--color-black-40);
          }
        }
      }
      .onLoadMoreContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 5em;
        width: max-content;
      }
    }
  }
}
