.imageCardWrapper {
  display: flex;
  flex: 1;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 !important;

  .imageWrapper {
    aspect-ratio: 3/2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
  }
}

.photographer {
  margin: var(--spacing-xs) 0;
  word-break: break-all;
}

.link {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  & .lightboxContent {
    max-width: 600px;
    background-color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.closeButton {
  color: var(--color-white);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background: 0 0;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    background-color: var(--color-white);
    fill: none;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: calc(1.5 * 1em);
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpolygon fill='currentColor' points='18 7.5 13.5 12 18 16.5 16.5 18 12 13.5 7.5 18 6 16.5 10.5 12 6 7.5 7.5 6 12 10.5 16.5 6'/%3E %3C/g%3E %3C/svg%3E");
  }
}

.screenReaderText {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: 0px -1px -1px -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.actionsWrapper {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: var(--spacing-xs);

  button {
    &:focus {
      outline-color: var(--color-black);
    }

    & > div,
    & > span {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

.imageItemWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  &.withLightbox {
    cursor: pointer;
  }

  &.withLightbox:focus {
    outline: 1px solid var(--color-black);
  }

  &.withBorder {
    border: 2px solid var(--color-black);
  }
}
