.imageCardWrapper {
  position: relative;
  width: 100%;
  margin: 0 !important;
  overflow: hidden;

  .imageWrapper {
    aspect-ratio: 3/2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    border: 2px solid transparent;

    &.withLightbox:focus {
      outline: 2px solid var(--color-black);
      border: 2px solid var(--color-black);
    }

    &.withBorder {
      border: 2px solid var(--color-black-90);
    }
  }
}

.photographer {
  margin: var(--spacing-xs) 0;
  word-break: break-all;
  &.withMargin {
    margin: var(--spacing-xs);
  }
}

.link {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  & .lightboxContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-height: 90%;
    max-width: 100%;
    height: 100%;
    margin: var(--spacing-m);
    & .inner {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      background: white;
      max-height: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.closeButton {
  color: var(--color-white);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background: 0 0;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    background-color: var(--color-white);
    fill: none;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: calc(1.5 * 1em);
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpolygon fill='currentColor' points='18 7.5 13.5 12 18 16.5 16.5 18 12 13.5 7.5 18 6 16.5 10.5 12 6 7.5 7.5 6 12 10.5 16.5 6'/%3E %3C/g%3E %3C/svg%3E");
  }
}

.actionsWrapper {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: var(--spacing-xs);

  button {
    &:focus {
      outline-color: var(--color-black);
    }

    & > div,
    & > span {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

.imageItemWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  &.withLightbox {
    cursor: pointer;
  }
}
