# Using "**/" prefix to make ignores work in root and in subdirectories at any level.
#
# From https://docs.docker.com/build/concepts/context/#dockerignore-files
# "Docker also supports a special wildcard string ** that matches any
# number of directories (including zero). For example, **/*.go excludes
# all files that end with .go found anywhere in the build context."
#
# NOTE:
# You can add an exception for a specific file by prefixing the line with an !
# if you need to include a file that would otherwise be ignored.

# Node modules
**/node_modules

# Environment variable files
**/*.env
**/*.env.example
**/.env
**/.env.*

# Certificate/keystore/key files
**/*.ca-bundle
**/*.cer
**/*.cert
**/*.crt
**/*.jks
**/*.key
**/*.keystore
**/*.p7b
**/*.p7c
**/*.p7s
**/*.p12
**/*.pem
**/*.pfx
**/*.ppk
**/*.pvk

# Build files
**/build
**/dist
**/target

# Miscellaneous
**/*.log
**/*.temp
**/*.tmp
**/.cache
**/.dockerignore
**/.DS_Store
**/.eslintcache
**/.git
**/.gitattributes
**/.github
**/.gitignore
**/.idea
**/.ssh
**/.venv
**/.vscode
**/compose.*
**/docker-compose.*
**/Dockerfile
**/temp
**/tmp
**/tsconfig.tsbuildinfo
**/venv
