@import "spacing";
@import "color";

.navigation {
  display: flex;
}

.list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: flex;

  &:not(:last-child) .link::after {
    content: "/";
    display: block;

    margin: 0 $spacing-2-xs;

    text-decoration: none;
    color: $color-black-90;
  }
}

.link {
  display: flex;

  text-decoration: none;
}

.linkLabel {
  text-decoration: underline;
}
