@import 'spacing';
@import 'color';

.container {
  &.withoutImage {
    padding: $spacing-layout-xl 0;

    background-color: $color-coat-of-arms-light;
  }
}

.image {
  position: relative;
  height: 13rem;
  overflow: hidden;

  & img {
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.title {
  position: relative;
  padding: $spacing-xl $spacing-m;
  margin: 0;

  text-align: center;

  &::after {
    content: ' ';
    display: block;
    width: 80px;
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: 1rem;

    transform: translateX(-50%);
    background-color: $color-coat-of-arms;
  }

  & > a {
    text-decoration: none;
    color: $color-black-90;
  }
}
