@use 'spacing' as spacing;
@use 'color' as color;

.content {
  padding: 0 spacing.$spacing-m;
  color: var(color.$color-black-90);
}

.link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;

  &:hover {
    text-decoration: underline;
  }
}

figure {
  padding: 0;
  margin: 0;
}

.image {
  position: relative;
  height: 13rem;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}

.publishingDate {
  margin: spacing.$spacing-2-xs 0;
  color: var(color.$color-black-60);
}
