@use 'breakpoints';
@import 'spacing';

.contentLayout {
  --padding: #{$spacing-layout-2-xs};
  --max-width: calc(#{breakpoints.$container-width-xl} + (2 * var(--padding)));

  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: $spacing-layout-2-xs;
  }

  @media screen and (min-width: breakpoints.$breakpoint-m) {
    --padding: #{$spacing-layout-xs};
  }

  .mainLayout {
    .customContentContainer {
      .customContentContainerInner {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 var(--padding);
        box-sizing: border-box;
      }
    }

    .searchFormContainer {
      display: flex;
      flex-direction: column;
      background-color: var(--color-black-5);
      padding-top: $spacing-layout-xs;
      position: relative;

      .koros {
        fill: var(--color-white);
        position: absolute;
        bottom: -24px;
      }

      .searchFormContainerInner {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 var(--padding);
        box-sizing: border-box;
        z-index: 1;

        .tagsContainer {
          display: flex;
          flex-direction: column;
          min-height: 16px;

          & > :last-child {
            .clearButton {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              color: var(--color-black);
              font-size: var(--fontsize-body-m);
              font-weight: 500;
              border: 2px solid transparent;
              text-align: left;
              &:focus {
                outline: 2px solid var(--color-black);
                outline-offset: 0.25rem;
              }

              svg {
                margin-left: var(--spacing-3-xs);
              }
            }
          }

          @media screen and (min-width: breakpoints.$breakpoint-l) {
            display: grid;
            align-items: center;
            column-gap: $spacing-xs;
            grid-template-columns: 5fr 1fr;

            & > :last-child {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
            }
          }
        }
      }
    }

    .searchForm {
      display: flex;
      flex-direction: column;
      padding: $spacing-layout-2-xs 0;

      & > *:not(:last-child) {
        margin-bottom: $spacing-m;
      }

      @media screen and (min-width: breakpoints.$breakpoint-m) {
        padding-top: $spacing-layout-2-xs;
      }

      @media screen and (min-width: breakpoints.$breakpoint-l) {
        display: grid;
        align-items: flex-end;
        column-gap: $spacing-xs;
        row-gap: $spacing-xs;
        grid-template-columns: 5fr 1fr;

        & > *:not(:last-child) {
          margin-bottom: unset;
        }
      }
    }

    .inputWithIcon {
      position: relative;

      & > div > input {
        padding-left: calc((2 * #{$spacing-s}) + 1.5rem) !important;
      }

      & > div > svg {
        position: absolute;
        left: $spacing-layout-2-xs;
        bottom: $spacing-layout-2-xs;

        & * {
          color: var(--color-black-90);
        }
      }
    }

    .hdsTextInputOverrides {
      & > div > input {
        border-color: var(--color-black-20);
      }
    }

    .searchResultsContainer {
      display: flex;
      flex-direction: column;
      padding-bottom: $spacing-2-xl;

      @media screen and (min-width: breakpoints.$breakpoint-m) {
        padding-bottom: 6rem;
      }

      .searchResultsContainerInner {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 var(--padding);
        box-sizing: border-box;

        .noResultsContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: var(--padding);

          h1 {
            font-weight: 400;
            margin: $spacing-xs;
          }

          p {
            font-size: var(--fontsize-body-l);
            margin: 0;
          }

          svg {
            height: var(--spacing-3-xl);
            width: var(--spacing-3-xl);
          }
        }

        .bottomActions {
          display: flex;
          align-items: center;
          flex-direction: column;
          .loadMoreButton,
          .loadingSpinner {
            margin: $spacing-layout-2-xs;
          }
        }
      }
    }
  }
}
