@use 'breakpoints';
@import 'spacing';

.hero {
  --hero-image-max-height: 600px;
  background-color: var(--hcrc-color-hero-bg, --color-fog-light);
  position: relative;

  &.withKoros {
    margin-bottom: $spacing-s;

    &.pulse,
    &.storm {
      margin-bottom: $spacing-l;
    }

    &.beat,
    &.wave {
      margin-bottom: $spacing-4-xl;
    }
  }

  &.withMargin {
    &.basic {
      margin-bottom: 70px;
    }

    &.pulse,
    &.storm {
      margin-bottom: 50px;
    }

    &.beat {
      margin-bottom: 15px;
    }

    &.wave {
      margin-bottom: 32px;
    }
  }

  .heroKoros {
    position: absolute;
    bottom: -15px;

    &.pulse,
    &.storm {
      bottom: -35px;
    }

    &.beat {
      bottom: -70px;
    }

    &.wave {
      bottom: -53px;
    }

    &.withMargin {
      &.basic {
        bottom: -70px;
      }

      &.pulse,
      &.storm {
        bottom: -50px;
      }

      &.beat {
        bottom: -15px;
      }

      &.wave {
        bottom: -32px;
      }
    }
  }

  .heroInner {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;

    &.withKoros {
      padding-bottom: 85px;
    }

    & > *:nth-child(1) {
      position: relative;

      .label {
        position: absolute;
        z-index: 1;
        right: 0;
        margin: 0;
        background-color: var(--color-black);
        color: var(--color-white);
        padding: 4px;
        opacity: 0.6;
        bottom: 80px;
        font-size: var(--fontsize-body-s);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        max-height: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .link {
      position: absolute;
      left: var(--spacing-l);
      top: var(--spacing-l);

      a:hover {
        outline: 2px solid var(--color-coat-of-arms);
      }

      a {
        display: flex;
        background-color: var(--color-white);

        @media screen and (min-width: breakpoints.$breakpoint-m) {
          padding: var(--spacing-2-xs);
        }
      }

      @media screen and (min-width: breakpoints.$breakpoint-xl) {
        left: calc(var(--spacing-4-xl) * -1);
        top: var(--spacing-l);
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }

    figure {
      margin: 0;
      line-height: 0;
    }
    img {
      width: 100%;
      max-height: var(--hero-image-max-height);
      object-fit: cover;
    }
  }
}

.textContents {
  position: relative;
  z-index: 1;

  @media screen and (min-width: breakpoints.$breakpoint-m) {
    padding-right: 44px;
    max-width: 66.6666666667%;
  }

  h1 {
    font-weight: 400;
  }

  p {
    font-size: var(--fontsize-body-l);
    margin-bottom: $spacing-l;
    line-height: var(--lineheight-l);
  }

  .button {
    margin-bottom: $spacing-xl;
    & button:hover {
      background-color: var(--color-white);
    }
  }
}
