@use 'breakpoints';
@import 'spacing';

.hero {
  margin-bottom: $spacing-l;
  background-color: var(--color-fog-light);
  position: relative;

  .heroInner {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    & > *:nth-child(1) {
      position: relative;
      @media screen and (min-width: breakpoints.$breakpoint-xl) {
        z-index: 1;
      }

      .label {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        margin: 0 var(--padding);
        background-color: var(--color-black-80);
        color: var(--color-white);
        padding: 4px var(--spacing-xs);
        opacity: 0.9;
      }
    }

    .link {
      position: absolute;
      left: 32px;
      top: 32px;

      a {
        display: flex;
        background-color: var(--color-white);

        @media screen and (min-width: breakpoints.$breakpoint-m) {
          padding: var(--spacing-2-xs);
        }
      }

      @media screen and (min-width: breakpoints.$breakpoint-xl) {
        left: -64px;
        top: 32px;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }

    figure {
      margin: 0;
      line-height: 0;
    }
    img {
      width: 100%;
    }
  }
}
