.pageSection {
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;

  & .korosTop,
  & .korosBottom {
    position: absolute;
    //z-index: 1;
  }

  .korosTop {
    top: 0;
  }

  .korosBottom {
    bottom: 0;
  }

  &.withKorosTop {
    padding-top: 85px;
  }

  &.withKorosBottom {
    padding-bottom: 85px;
  }
}

.pageSectionGrey {
  background-color: var(--color-black-5);
}
