@import 'spacing';
@import 'breakpoints';

.list {
  --spacing: 0;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style-type: none;

  & li:not(:last-child) {
    margin-bottom: var(--spacing);
  }
}
.spacing-4-xs {
  --spacing: #{$spacing-4-xs};
}
.spacing-3-xs {
  --spacing: #{$spacing-3-xs};
}
.spacing-2-xs {
  --spacing: #{$spacing-2-xs};
}
.spacing-xs {
  --spacing: #{$spacing-xs};
}
.spacing-s {
  --spacing: #{$spacing-s};
}
.spacing-m {
  --spacing: #{$spacing-m};
}
.spacing-l {
  --spacing: #{$spacing-l};
}
.spacing-xl {
  --spacing: #{$spacing-xl};
}
.spacing-2-xl {
  --spacing: #{$spacing-2-xl};
}
.spacing-3-xl {
  --spacing: #{$spacing-xl};
  @include respond_above(m) {
    --spacing: #{$spacing-3-xl};
  }
}
.spacing-4-xl {
  --spacing: #{$spacing-4-xl};
}
.spacing-5-xl {
  --spacing: #{$spacing-4-xl};
}
.spacing-layout-2-xs {
  --spacing: #{$spacing-layout-2-xs};
}
.spacing-layout-xs {
  --spacing: #{$spacing-layout-xs};
}
.spacing-layout-s {
  --spacing: #{$spacing-layout-s};
}
.spacing-layout-m {
  --spacing: #{$spacing-layout-m};
}
.spacing-layout-l {
  --spacing: #{$spacing-layout-l};
}
.spacing-layout-xl {
  --spacing: #{$spacing-layout-xl};
}
.spacing-layout-2-xl {
  --spacing: #{$spacing-layout-2-xl};
}
