@import 'breakpoints';

.cardLink {
  margin-bottom: var(--spacing-s);
  @include respond_above(s) {
    margin-bottom: var(--spacing-m);
  }
}

.cardWrapper {
  --height-image: 12.75rem;
  --height-image-desktop: 40.5rem;
  --width-image: 8rem;
  word-break: break-word;
  min-width: fit-content;
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;

  @include respond_above(s) {
    word-break: unset;
  }

  &.isHovered {
    .title {
      text-decoration: underline;
    }
  }

  &.withBorder {
    border: 1px solid var(--color-black-30);
  }

  &.default {
    border: none;
  }

  @include respond_above(s) {
    flex-direction: row;
    &.image-left {
      flex-direction: row-reverse;
    }
  }

  .imageWrapper {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    padding-bottom: 62.5%;

    @include respond_above(s) {
      padding-bottom: 0;
      min-height: var(--height-image-desktop);
      flex: 1.5 1;
    }

    .imageLabel {
      padding: var(--spacing-xs);
      .tag {
        --tag-background: var(--color-black-5);
        font-weight: 600;
        font-size: var(--fontsize-body-s);
      }
    }
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-s);

    @include respond_above(s) {
      min-height: 40.5rem;
      min-width: 12.75rem;
      flex: 1 1;
      padding: var(--spacing-m);
    }

    @include respond_above(l) {
      min-height: 40.5rem;
      min-width: 31.25rem;
      flex: 1 1;
      padding: var(--spacing-m);
    }

    .title {
      font-size: var(--fontsize-heading-s);
      font-weight: 400;
      line-height: var(--lineheight-m);
      margin-bottom: var(--spacing-2-xs);

      @include respond_above(s) {
        hyphens: auto;
        font-size: var(--fontsize-heading-l);
        margin-bottom: var(--spacing-s);
        word-break: break-word;
      }
    }

    .subTitle {
      font-size: var(--fontsize-body-s);
      margin-bottom: var(--spacing-2-xs);
      color: var(--color-black-60);
      @include respond_above(s) {
        font-size: var(--fontsize-body-l);
        line-height: 2.25rem;
      }
    }

    .text {
      order: 3;
      font-size: var(--fontsize-body-m);
      line-height: var(--lineheight-m);
      margin-bottom: var(--spacing-2-xs);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include respond_above(s) {
        font-size: var(--fontsize-body-l);
        line-height: var(--lineheight-l);
        -webkit-line-clamp: initial;
        -webkit-box-orient: vertical;
        margin-bottom: var(--spacing-2-xs);
        &.clamp {
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        p {
          margin: 0;
        }
      }
    }

    .customContent {
      order: 4;
      margin: var(--spacing-2-xs) 0;
      p {
        margin: 0;
      }
    }

    .buttonWrapper {
      order: 5;
      a {
        svg {
          height: var(--spacing-2-xl);
          width: var(--spacing-2-xl);
        }
      }
    }
  }
}
