@import "breakpoints";

.cardWrapper {
  --height-image: 12.75rem;
  --height-image-desktop: 40.5rem;
  --width-image: 8rem;

  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;
  margin-bottom: var(--spacing-s);

  @include respond_above(s) {
    flex-direction: row;
    &.left {
      flex-direction: row-reverse;
    }
    margin-bottom: 0;
  }

  .imageWrapper {
    height: var(--height-image);
    min-width: var(--width-image);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-bottom: var(--spacing-s);
    display: flex;
    box-sizing: border-box;
    text-decoration: none;

    @include respond_above(s) {
      min-height: var(--height-image-desktop);
      flex: 3 1;
    }
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond_above(s) {
      min-height: 40.5rem;
      min-width: 12.75rem;
      flex: 1 1;
      padding: var(--spacing-m);
    }

    @include respond_above(l) {
      min-height: 40.5rem;
      min-width: 31.25rem;
      flex: 1 1;
      padding: var(--spacing-m);
    }

    .title {
      color: var(--color-black);
      font-size: var(--fontsize-heading-m);
      font-weight: 600;
      line-height: var(--lineheight-l);
      margin-bottom: var(--spacing-2-xs);

      @include respond_above(s) {
        font-size: var(--fontsize-heading-l);
        margin-bottom: var(--spacing-s);
      }
    }

    .subTitle {
      font-size: var(--fontsize-body-m);
      margin-bottom: var(--spacing-2-xs);
      color: var(--color-black-40);
      @include respond_above(s) {
        font-size: var(--fontsize-body-m);
        line-height: 2.25rem;
      }
    }

    .text {
      order: 3;
      font-size: var(--fontsize-body-m);
      margin-bottom: var(--spacing-2-xs);

      @include respond_above(s) {
        font-size: var(--fontsize-body-m);
        line-height: 2.25rem;
      }
    }

    .buttonWrapper {
      display: flex;
      order: 4;
      @include respond_above(s) {
        padding-left: 0;
        padding-top: var(--spacing-xs);
      }

      a {
        display: flex;
        color: var(--color-black);
        background-color: var(--color-copper-light);
        padding: var(--spacing-2-xs);
      }
    }
  }
}
