@use 'breakpoints' as breakpoints;

.tag {
  padding: var(--spacing-2-xs);
  margin-right: var(--spacing-2-xs);
  margin-bottom: var(--spacing-3-xs);
  margin-top: var(--spacing-3-xs);
  --tag-focus-outline-color: var(--color-black-70);

  &.featured {
    --background-color: var(--color-tram-light);
  }

  &.whiteOnly {
    --background-color: var(--color-white) !important;
  }

  &.selected {
    --background-color: var(--color-black-70) !important;
    color: var(--color-white);
  }

  &.noTextWrap {
    span {
      /* "nowrap" is default for "white-space" in HDS v4*/
      white-space: nowrap;
    }
  }
  &:not(.noTextWrap) {
    span {
      white-space: normal !important;
    }
  }

  &.withHover:hover {
    --background-color: var(--color-black-5) !important;
  }

  &.selected:hover {
    --background-color: var(--color-black-70) !important;
  }

  &.noOutline {
    --tag-focus-outline-color: none !important;
    cursor: default;
    box-shadow: none;
  }
}
