@import "breakpoints";

.tag {
  --tag-background: var(--color-black-5);
  padding: 0 var(--spacing-2-xs);
  margin-right: var(--spacing-2-xs);
  margin-bottom: var(--spacing-2-xs);
  margin-top: var(--spacing-2-xs);

  @include respond_above(s) {
    font-size: var(--fontsize-body-xs);
    font-size: var(--fontsize-body-s);
  }

  &.variant-default {
    font-weight: 600;
  }

  &.variant-card {
    font-weight: 500;
    border-radius: var(--spacing-s);
  }

  &.featured {
    --tag-background: var(--color-tram-light);
  }
}
