@import 'breakpoints';

.tag {
  padding: 0 var(--spacing-2-xs);
  margin-right: var(--spacing-2-xs);
  margin-bottom: var(--spacing-3-xs);
  margin-top: var(--spacing-3-xs);

  &.withHover:hover {
    --tag-background: var(--color-black-5);
  }

  &.featured {
    --tag-background: var(--color-tram-light);
  }

  &.selected {
    --tag-background: var(--color-black-70) !important;
    --tag-focus-outline-color: var(--color-black-70);
    color: var(--color-white);
  }

  &.whiteOnly {
    --tag-background: var(--color-white) !important;
  }

  &.noOutline {
    --tag-focus-outline-color: none !important;
    cursor: default;
  }
}
