@use 'breakpoints';
@import 'spacing';
@import 'typography';

.collection {
  .headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: #{$spacing-layout-m};

    .showAll {
      text-decoration: none;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
      color: var(--hcrc-color-link-show-all);
    }
  }

  a {
    @media screen and (max-width: breakpoints.$breakpoint-m) {
      min-width: 80px;
      padding-bottom: #{$spacing-layout-s};
    }
  }

  .heading {
    font-size: $fontsize-heading-m;
    line-height: $fontsize-heading-m;
    margin: 0;

    padding-bottom: #{$spacing-layout-s};
    &.carousel {
      margin-left: #{$spacing-layout-2-xs};
      @media screen and (min-width: breakpoints.$breakpoint-m) {
        margin-left: 0;
      }
    }
    font-weight: 400;
    @media screen and (min-width: breakpoints.$breakpoint-m) {
      font-size: $fontsize-heading-l;
    }
  }
  .description {
    font-size: $fontsize-heading-m;
    margin: 0;
    padding-bottom: #{$spacing-layout-s};
    @media screen and (min-width: breakpoints.$breakpoint-m) {
      padding-bottom: #{$spacing-layout-m};
    }
  }

  .carouselWrapper {
    .carousel {
      margin-top: 0;
    }
  }

  .loadMoreButton {
    margin-top: var(--spacing-m);
  }
}

.loadingSpinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: #{$spacing-layout-l};
}
