@import "spacing";
@import "typography";

.collectionWrapper {
  display: block;
  --spacing: #{$spacing-layout-2-xs};
  margin: var(--spacing) auto;
  padding: 0 var(--padding);
  max-width: calc(var(--max-width) - (2 * var(--padding)));
  width: calc(100% - (2 * var(--padding)));
  overflow: hidden;
}

.collection {
  & > .heading {
    font-size: $fontsize-heading-l;
    margin: 0;
  }

  & > .carouselWrapper {
    .carousel {
      max-width: calc(100% + 2 * var(--padding));
      margin-top: 0;
    }
  }
}
