@use 'typography' as typography;

.link {
  &,
  &:visited {
    color: var(--color-black-90);
  }

  &:visited svg g path {
    fill: var(--color-black-90);
  }
}

.secondaryLink {
  text-decoration: none;
  font-weight: bold;
  font-size: typography.$fontsize-body-l;
  &,
  &:visited {
    color: var(--color-coat-of-arms-dark);
  }

  &:hover {
    text-decoration: underline;
  }

  &:visited svg g path {
    fill: var(--color-coat-of-arms-dark);
  }
}

.imgLink img {
  display: block;
}
