@import 'typography';

.link {
  display: flex;
}

.secondaryLink {
  text-decoration: none;
  font-weight: bold;
  font-size: $fontsize-body-l;

  &:hover {
    text-decoration: underline;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
