@import 'breakpoints';

.pageModuleWrapper {
  margin: var(--spacing-layout-2-xs) 0;
  @include respond_above(s) {
    margin: var(--spacing-layout-s) 0;
  }
  &.withPadding {
    padding: 30px;
    border: 1px solid #000;
  }
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 24px;
  grid-row-gap: 24px;

  &.flexWrapper {
    display: flex;

    & > div {
      width: 100%;
      min-width: 248px;
    }
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  // justify-content: space-between;

  &.horisontal {
    flex-direction: row;
    justify-content: flex-start;
  }

  & svg {
    height: 84px;
    width: 84px;
  }
}

.cardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  & .title {
    font-size: 32px;
  }

  & .description {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  & .button {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
}

.cardIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-bottom: 8px;

  &.horisontal {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 30px;
    margin-bottom: 16px;
  }
}

.fallbackIcon {
  width: 84px;
  height: 84px;
}
