@import 'breakpoints';

.pageModuleWrapper {
  margin: var(--spacing-layout-l) 0;
  @include respond_above(s) {
    margin: var(--spacing-layout-s) 0;
  }
  &.withPadding {
    padding: 30px;
    border: 1px solid #000;
  }
}
