@use 'breakpoints';
@import 'spacing';

.contentLayout {
  --padding: #{$spacing-layout-2-xs};
  --max-width: calc(#{breakpoints.$container-width-xl} + (2 * var(--padding)));
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: $spacing-layout-2-xs;
  }

  @media screen and (min-width: breakpoints.$breakpoint-m) {
    --padding: #{$spacing-layout-xs};
  }
}

.breadcrumbs {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding);
  box-sizing: border-box;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100%;

  .contentSection {
    padding-bottom: 10rem !important;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: breakpoints.$breakpoint-m) {
    flex-direction: row;
  }

  & > *:nth-child(1) {
    @media screen and (min-width: breakpoints.$breakpoint-m) {
      flex: calc((100% / 3) * 2) 0 1;
      max-width: calc((100% / 3) * 2);
      // TODO: Replace with flex-gap when browsers support it
      margin-right: 22px;
    }
  }

  & aside {
    @media screen and (min-width: breakpoints.$breakpoint-m) {
      flex: calc(100% / 3) 0 0;
      // TODO: Replace with flex-gap when browsers support it
      margin-left: 22px;
    }
  }
}

.collectionKorosTop {
  fill: var(--color-white);
}

.collectionsContainer {
  position: relative;
  margin-top: $spacing-2-xl;
  box-sizing: border-box;
  .innerCollectionsWrapper {
    background-color: var(--color-black-5);
    padding-bottom: 96px;
    width: 100%;
    .innerCollectionsContainer {
      background-color: var(--color-black-5);
      margin: 0 auto;
      width: 100%;
      max-width: var(--max-width);
    }
  }
}

.collectionsWrapper {
  background-color: var(--color-black-5);
  padding-bottom: $spacing-4-xl;
}
