@use 'breakpoints' as breakpoints;
@use 'typography' as typography;
@use 'spacing' as spacing;
@use 'color' as color;

.imageContainer {
  & img {
    max-width: 100%;
  }
}

.mainContent {
  figure {
    margin: 0;
    img {
      height: auto;
    }

    table {
      margin-left: auto;
      margin-right: auto;
      border-spacing: 0;
      border-collapse: collapse;
      background-color: transparent;

      thead {
        display: table-header-group;
        vertical-align: middle;
      }

      th {
        word-break: normal;
      }

      td {
        word-break: normal;
      }
    }
  }

  h1 {
    margin: spacing.$spacing-m 0;
    font-size: typography.$fontsize-heading-m;
    line-height: typography.$lineheight-m;
    font-weight: 400;
    @include breakpoints.respond-above(s) {
      margin: spacing.$spacing-l 0;
    }
  }

  h2 {
    margin: spacing.$spacing-2-xl 0 spacing.$spacing-m 0;
    font-size: typography.$fontsize-heading-l;
    font-weight: 400;
    letter-spacing: -0.4px;
  }

  h3 {
    margin: spacing.$spacing-xl 0 spacing.$spacing-m 0;
    font-size: typography.$fontsize-heading-m;
    font-weight: 400;
  }

  h4 {
    margin: spacing.$spacing-m 0;
    font-size: typography.$fontsize-heading-s;
    font-weight: 400;
    letter-spacing: 0.2px;
  }

  h5 {
    margin: spacing.$spacing-m 0;
    font-size: typography.$fontsize-heading-xs;
    font-weight: 500;
  }

  ul,
  ol {
    margin: spacing.$spacing-m 0 spacing.$spacing-l 0;
    li {
      margin-bottom: spacing.$spacing-s;
    }
  }

  figure {
    margin: spacing.$spacing-m 0 spacing.$spacing-l 0;
    figcaption {
      margin: spacing.$spacing-s 0;
      font-size: typography.$fontsize-body-m;
    }
  }
}

blockquote {
  border-left: 0.25em solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
}

.articleData {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-s);

  @include breakpoints.respond_above(m) {
    margin-bottom: var(--spacing-xl);
  }

  .articleDate {
    margin-right: var(--spacing-l);
    font-size: var(--fontsize-body-l);
  }
}
