@import 'breakpoints';
@import 'typography';
@import 'spacing';
@import 'color';

.imageContainer {
  & img {
    max-width: 100%;
  }
}

.mainContent {
  figure {
    margin: 0;
    img {
      height: auto;
    }

    table {
      margin-left: auto;
      margin-right: auto;
      border-spacing: 0;
      border-collapse: collapse;
      background-color: transparent;
      border-bottom: 1px solid var(--border-color-table);

      thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: var(--border-color-thead);
      }

      th {
        border: 1px solid;
        padding: 0.5em;
        border: 1px solid;
        word-break: normal;
      }

      td {
        padding: 0.5em;
        border: 1px solid;
        word-break: normal;
      }
    }

    &.is-style-stripes {
      table {
        td {
          border-color: transparent !important;
        }
        tr.is-style-stripes {
          background-color: #f0f0f0 !important;
        }
      }
    }
  }

  h1 {
    margin: $spacing-m 0;
    font-size: $fontsize-heading-m;
    line-height: $lineheight-m;
    font-weight: 500;
    @include respond-above(s) {
      margin: $spacing-l 0;
    }
  }

  h2 {
    margin: $spacing-m 0;
    font-size: $fontsize-heading-l;
    font-weight: 400;
    letter-spacing: -0.4px;
  }

  h3 {
    margin: $spacing-m 0;
    font-size: $fontsize-heading-m;
    font-weight: 500;
  }

  h4 {
    margin: $spacing-m 0;
    font-size: $fontsize-heading-s;
    font-weight: 500;
    letter-spacing: 0.2px;
  }

  h5 {
    margin: $spacing-m 0;
    font-size: $fontsize-heading-xs;
    font-weight: 500;
  }

  ul {
    margin: $spacing-m 0;
    li {
      margin-bottom: $spacing-m;
    }
  }

  figure {
    margin: $spacing-m 0 $spacing-l 0;
    figcaption {
      margin: $spacing-s 0;
      font-size: $fontsize-body-m;
    }
  }
}

blockquote {
  border-left: 0.25em solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
}

.articleData {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-s);

  @include respond_above(m) {
    margin-bottom: var(--spacing-xl);
  }

  .articleDate {
    margin-right: var(--spacing-l);
    font-size: var(--fontsize-body-l);
  }
}
