/*background colors*/
.backgroundDefault {
  background-color: white;
}

.backgroundCoatOfArms {
  background-color: var(--color-coat-of-arms);
}

.backgroundGold {
  background-color: var(--color-gold);
}

.backgroundSilver {
  background-color: var(--color-silver);
}

.backgroundBrick {
  background-color: var(--color-brick);
}

.backgroundBus {
  background-color: var(--color-bus);
}

.backgroundCopper {
  background-color: var(--color-copper);
}

.backgroundEngel {
  background-color: var(--color-engel);
}

.backgroundFog {
  background-color: var(--color-fog);
}

.backgroundMetro {
  background-color: var(--color-metro);
}

.backgroundSummer {
  background-color: var(--color-summer);
}

.backgroundSuomenlinna {
  background-color: var(--color-suomenlinna);
}

.backgroundTram {
  background-color: var(--color-tram);
}

.backgroundListItemCoatOfArms {
  li {
    background-color: var(--color-coat-of-arms);
  }
}

.backgroundListItemGold {
  li {
    background-color: var(--color-gold);
  }
}

.backgroundListItemSilver {
  li {
    background-color: var(--color-silver);
  }
}

.backgroundListItemBrick {
  li {
    background-color: var(--color-brick);
  }
}

.backgroundListItemBus {
  li {
    background-color: var(--color-bus);
  }
}

.backgroundListItemCopper {
  li {
    background-color: var(--color-copper);
  }
}

.backgroundListItemEngel {
  li {
    background-color: var(--color-engel);
  }
}

.backgroundListItemFog {
  li {
    background-color: var(--color-fog);
  }
}

.backgroundListItemMetro {
  li {
    background-color: var(--color-metro);
  }
}

.backgroundListItemSummer {
  li {
    background-color: var(--color-summer);
  }
}

.backgroundListItemSuomenlinna {
  li {
    background-color: var(--color-suomenlinna);
  }
}

.backgroundListItemTram {
  li {
    background-color: var(--color-tram);
  }
}

.whiteText {
  color: var(--color-white) !important;
  h1 {
    color: var(--color-white) !important;
  }
}

.whiteTextList {
  li {
    color: var(--color-white);
    &::after {
      color: var(--color-black);
    }
  }
}

.whiteButton {
  button {
    color: var(--color-white);
    border-color: var(--color-white) !important;
  }
}

.whiteLink {
  path {
    color: var(--color-white);
  }
}
