@use 'breakpoints' as breakpoints;

.grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  gap: 1.5rem;

  @include breakpoints.respond-above(m) {
    display: grid;
    grid-gap: 1.5rem;
  }
}

@for $i from 1 through 12 {
  .cols#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}
