name: npm publish

on:
  push:
    tags:
      - 'v*.*.*'  # Trigger on version tags

jobs:
  publish:
    uses: City-of-Helsinki/.github/.github/workflows/ci-npm-publish.yml@main
    with:
      node-version: '22'
      package-manager: 'yarn'
      install-command: 'yarn --frozen-lockfile'
      test-command: 'yarn test'
      build-command: 'yarn build'